body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .login-container h1 {
    text-align: center;
    color: rgb(238, 102, 102);
    margin-bottom: 20px;
   
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-container label {
    font-weight: bold;
    color: #333;
  }
  
  .login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    max-width: 350px; /* กำหนดขนาดที่แน่นอนให้ช่องใส่ข้อมูล */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* รวม padding และ border ในขนาด width */
}
  
.login-container input[type="submit"] {
  background-color: rgb(238, 102, 102);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 160px;
}

  
  .login-container input[type="submit"]:hover {
    background-color: rgb(206, 89, 89);
  }
  
  .login-container .back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #b24242;
    text-decoration: none;
  }
  
  .login-container .back-link:hover {
    text-decoration: underline;
  }
  